body {
  display: block;
}

#fixed-container {
  margin: 0 auto;
  display: flex;
  width: 350px;
  height: 350px;
  border: 1px solid black;
}

#button-div {
  display: flex;
}

#button-wrapper {
  margin: 0 auto;
}

#container {
  margin: auto;
}

#container figure {
  display: none;
}

#container figure.visible {
  display: block;
}

figcaption {
  text-align: center;
}

#container figure.visible img {
  width: 100%;
}

button {
  margin: 0;
  padding: 0;
}